@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: lab(1.76974% 1.32743 -9.28855);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: lab(1.76974% 1.32743 -9.28855);
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
